body {
  margin: 0;
  padding: 0;
  border: 0;
}

.menulogo img {
  height: 2.375rem !important;
  width: 5.938rem !important;
}
.menuhead {
  height: 3.938rem;
}
.menuup {
  z-index: 1;
}
.menubutton {
  border: none !important ;
  box-shadow: none !important ;
}
.menushop {
  font-size: 0.875rem !important ;
  color: #000000 !important;
  font-weight: 700 !important;
  margin-left: 1.875rem !important;
  background-color: white;
}
.menuparks {
  font-size: 0.875rem !important ;
  color: #000000 !important;
  font-weight: 700 !important;
  margin-left: 1.875rem !important;
  background-color: white;
}
.menunew {
  font-size: 0.875rem !important ;
  color: #000000 !important;
  font-weight: 700 !important;
  margin-left: 1.875rem !important;
  background-color: white;
}
.imagehover {
  overflow: hidden;
}
.imagehover img {
  transition: transform 0.5s ease;
}
.imagehover :hover {
  transform: scale(1.03);
}
.cardgradcolor {
  position: absolute;
  bottom: 0;
  color: white;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 93%,
    rgba(0, 0, 0, 1) 100%
  );
}
.card_caption_design {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card_caption_design:hover {
  color: white;
  text-decoration: underline;
}
.card_caption_design2 {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.card_caption_design2:hover {
  color: white;
  text-decoration: underline;
}
.imagefillback {
  background-color: #eeeeee;
  width: 96.5rem;
}
.imagefillback2 {
  background-color: #eeeeee;
  width: 100rem !important;
  height: 46.033rem !important;
}
.footmenu a {
  color: #000000;
  font-size: 1.02rem;
  font-weight: 650;
}
.footmenu {
  margin-top: 1.7rem !important;
}
.footmenu1 {
  white-space: nowrap;
}
.footmenu2 a {
  color: #000000;
  font-size: 0.72rem;
}
.socialedit {
  list-style: none;
}
@media only screen and (max-width: 992px) {
  .menulogo {
    position: absolute;
    left: 45%;
    top: 25%;
  }
  .menulogo img {
    margin-top: -1rem;
  }
  .menuhead {
    padding-left: 0rem !important;
  }
  .menushop {
    border-top: 0.1rem solid black;
    margin-top: 0.9rem;
    padding-left: 3rem !important;
  }
  .menuparks {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.119);
    padding-left: 3rem !important;
  }
  .menunew {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.119);
    padding-left: 3rem !important;
  }
  .menumarginleft {
    margin-left: -1.9rem;
  }
}
@media only screen and (max-width: 767px) {
  .imageadjust {
    content: url(./images/disney_birthday_small.png);
  }
  .imageadjust1 {
    content: url(./images/disneyjr-memorablemoments-small.jpeg);
  }
  .imageadjust2 {
    content: url(./images/djindia_small.jpeg);
  }
  .imageadjust3 {
    content: url(./images/disney_movies_small.png);
  }
  .menulogo {
    content: url(./images/disney-logo6628.png);
  }
}
@media only screen and (max-width: 575px) {
  .imagecardadjust {
    content: url(./images/pogo_small.jpeg);
  }
  .imagecardadjust1 {
    content: url(./images/spider-man-small.jpeg);
  }
  .imagecardadjust21 {
    content: url(./images/star-trek-small.jpeg);
  }
  .imagecardadjust22 {
    content: url(./images/theme-park-small.jpeg);
  }
  .imagecardadjust23 {
    content: url(./images/ship-small.jpeg);
  }
  .imagecardadjust31 {
    content: url(./images/poops-small.jpeg);
  }
  .imagecardadjust32 {
    content: url(./images/mickey-small.jpeg);
  }
}
